<form novalidate [formGroup]="form" (ngSubmit)="submitForm(form)">
    <div class="form-group" *ngFor="let ctrl of form.productControls">
        <label>{{ ctrl.label }}</label>
        <input class="form-control" [(ngModel)]="newProduct[ctrl.modelProperty]"
               name="{{ ctrl.modelProperty }}" 
               formControlName="{{ ctrl.modelProperty }}" />
        <ul class="text-danger list-unstyled" *ngIf="(isFormSubmitted || ctrl.dirty) && !ctrl.valid">
            <li *ngFor="let err of ctrl.getValidationMessages()">
                {{ err }}
            </li>
        </ul>
    </div>

    <button class="btn btn-primary" type="submit" 
            [disabled]="isFormSubmitted && !form.valid"
            [class.btn-secondary]="isFormSubmitted && !form.valid">
        Create
    </button>
</form>
<div class="bg-info m-t-1 p-a-1">
    View Child Value:   <span paDisplayValue></span>
</div>
<div class="bg-info m-t-1 p-a-1">
    Content Child Value: <ng-content></ng-content>
</div>
